@charset "utf-8";
.body{
	font-size: 62.5%;
	
}
.section-wrapper{
	padding: 80px 0;
}
.section-title{
	text-align: center;
	padding: 40px 0 ;
}
.fv-bg{
	background-image: url("../img/alpaca.png");
	height: 100vh;
	background-position: center;
	background-size: cover;
}
.header-logo{
	width:10rem;
	height: auto;
}
.navbar{
	 position: fixed;
	 width: 100%;
	z-index: 10;
}

.fv-copy{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.sub-copy{
	font-size: 2rem;
}
@media screen and (max-width:768px){
	.header-logo{
		width: 8rem;	
	}
	.fv-copy{
		transform: translate(-50%,-50%);
	}
	.fv-logo svg{
		width: 15rem;
	}
	.sub-copy{
		font-size: 1.5rem;
	}
	.card{
		padding: 15px;
	}
}


.card{
	padding: 0;
}

.map-outer{
	position: relative;
	height: 0;
	width: 100%;
	padding: 15%;
}
.map-outer iframe{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.submit{
	margin: 20px auto;
	display: block;
}


#about {
}
#contact {
}
#contact {
}
#about {
}
.sub-copy {
}
